Repository flex-development/mkbuild: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

.lintstagedrc.json:

{
  "*": ["yarn check:format", "yarn check:spelling"],
  "**/*.{cjs,cts,gql,js,json,json5,jsonc,jsx,md,mjs,mts,ts,tsx,yml}": [
    "yarn check:lint"
  ],
  "**/yarn.lock": "yarn dedupe --check"
}

build(deps): bump @flex-development/mlly from 1.0.0-alpha.11 to 1.0.0-alpha.13
  __fixtures__/pkg/my-atoi/src/index.cts
  __fixtures__/pkg/my-atoi/tsconfig.json
  package.json
  src/internal/__tests__/esbuilder.integration.spec.ts
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

chore(github): merge `pre-push` workflow into `commit-msg` workflow
  .husky/commit-msg
  .husky/pre-push
Due: yarn check:format, yarn check:spelling

refactor(loader): prepare for use in tests across node versions
  .eslintrc.base.cjs
  .eslintrc.cjs
  loader.mjs
  typings/node/loader.d.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

test: improve tests to catch erroneous build logic
  __fixtures__/pkg/sum-of-intervals/package.json
  __fixtures__/pkg/sum-of-intervals/sum-of-intervals.cjs
  __fixtures__/pkg/sum-of-intervals/sum-of-intervals.d.ts
  __fixtures__/pkg/sum-of-intervals/sum-of-intervals.mjs
  __fixtures__/pkg/tribonacci/src/tribonacci.ts
  __tests__/interfaces/index.ts
  __tests__/interfaces/mock.ts
  __tests__/interfaces/spy.ts
  __tests__/setup/index.ts
  __tests__/setup/serializers/index.ts
  __tests__/setup/serializers/result-array.ts
  package.json
  src/__snapshots__/make.e2e.snap
  src/__tests__/make.e2e.spec.ts
  src/__tests__/make.functional.spec.ts
  src/__tests__/make.spec.ts
  src/config/__snapshots__/load.integration.snap
  src/config/__tests__/load.integration.spec.ts
  src/index.ts
  src/interfaces/__tests__/config.spec-d.ts
  src/interfaces/__tests__/options.spec-d.ts
  src/interfaces/config.ts
  src/interfaces/options.ts
  src/internal/__snapshots__/defu-concat.snap
  src/internal/__snapshots__/defu.snap
  src/internal/__snapshots__/esbuilder.integration.snap
  src/internal/__tests__/defu-concat.spec.ts
  src/internal/__tests__/defu.spec.ts
  src/internal/__tests__/esbuilder.integration.spec.ts
  src/internal/defu-concat.ts
  src/internal/esbuilder.ts
  src/make.ts
  src/plugins/fully-specified/__tests__/plugin.integration.spec.ts
  src/plugins/tsconfig-paths/__tests__/plugin.integration.spec.ts
  src/types/__tests__/options-esbuild.spec-d.ts
  src/types/options-esbuild.ts
  src/utils/__tests__/ignore-patterns.spec.ts
  src/utils/ignore-patterns.ts
  vitest.config.ts
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

build(deps-dev): bump typescript from 5.0.0-dev.20230222 to 5.0.0-dev.20230224
  package.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

feat: toggle package `type`
  package.json
  src/__tests__/make.spec.ts
  src/internal/__snapshots__/esbuilder.integration.snap
  src/internal/__tests__/esbuilder.integration.spec.ts
  src/internal/__tests__/esbuilder.spec.ts
  src/internal/esbuilder.ts
  src/make.ts
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

release: 1.0.0-alpha.14
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 1.0.0-alpha.14 (#86)
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

build(deps): bump @flex-development/mlly from 1.0.0-alpha.13 to 1.0.0-alpha.14
  package.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

chore: sync config files
  .commitlintrc.cts
  .commitlintrc.json
  .cspell.json
  .eslintignore
  .eslintrc.base.cjs
  .github/workflows/dependabot-auto.yml
  .gitignore
  .husky/commit-msg
  .vscode/settings.json
  __tests__/setup/setup.ts
  __tests__/setup/teardown.ts
  __tests__/ts/v4/tsconfig.json
  __tests__/ts/v4/tsconfig.typecheck.json
  config/changelog.config.ts
  loader.mjs
  package.json
  scripts/release.sh
  src/__snapshots__/make.e2e.snap
  src/config/__snapshots__/load.integration.snap
  src/config/__snapshots__/loader-es.snap
  src/internal/__snapshots__/defu-concat.snap
  src/internal/__snapshots__/defu.snap
  src/internal/__snapshots__/esbuilder.integration.snap
  src/plugins/create-require/__snapshots__/plugin.integration.snap
  src/plugins/decorators/__snapshots__/plugin.integration.snap
  src/plugins/fully-specified/__snapshots__/plugin.integration.snap
  src/plugins/tsconfig-paths/__snapshots__/plugin.integration.snap
  src/utils/__snapshots__/analyze-results.snap
  src/utils/__snapshots__/loaders.snap
  tsconfig.build.json
  tsconfig.cjs.json
  tsconfig.json
  tsconfig.typecheck.json
  typings/conventional-commits-parser/index.d.ts
  typings/node/loader.d.ts
  vitest.config.ts
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

ci(workflows): [`ci`] make jobs dependant on `gitguardian`
  .github/workflows/ci.yml
Due: yarn check:format, yarn check:spelling, yarn check:lint

ci(workflows): [`ci`] add `commitlint` job
  .github/workflows/ci.yml
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 1.0.0-alpha.15
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 1.0.0-alpha.15 (#100)
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

ci(workflows): add `auto-merge`
  .github/workflows/auto-merge.yml
  .github/workflows/dependabot-auto.yml
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 1.0.0-alpha.16
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 1.0.0-alpha.16 (#103)
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

ci(workflows): add `infrastructure`
  .github/infrastructure.yml
  .github/labels.yml
  .github/workflows/infrastructure.yml
  .github/workflows/labels.yml
  .vscode/settings.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

ci(workflows): add `cache-cleanup`
  .github/workflows/cache-cleanup.yml
Due: yarn check:format, yarn check:spelling, yarn check:lint

ci(workflows): improve docs, formatting, and security
  .eslintrc.base.cjs
  .github/workflows/add-to-project.yml
  .github/workflows/approve-pr.yml
  .github/workflows/auto-merge.yml
  .github/workflows/cache-cleanup.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto.yml
  .github/workflows/integrity.yml
  .github/workflows/label-linked-issues.yml
  .github/workflows/lock-inactive-threads.yml
  .github/workflows/no-response.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/typescript-canary.yml
Due: yarn check:format, yarn check:spelling, yarn check:lint

ci(workflows): [`auto-merge`] use `secrets.PAT_REPO`
  .github/workflows/auto-merge.yml
Due: yarn check:format, yarn check:spelling, yarn check:lint

chore: sync config files
  .cspell.json
  .dictionary.txt
  .env.zsh
  .eslintrc.base.cjs
  .github/.gitconfig
  .gitignore
  .husky/commit-msg
  .lintstagedrc.json
  .vscode/settings.json
  CONTRIBUTING.md
  loader.mjs
  package.json
  tsconfig.cjs.json
  tsconfig.json
  typings/node/loader.d.ts
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

ci(workflows): [`ci`] add `jobs.build.steps.pkg-size-report`
  .github/workflows/ci.yml
  package.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

feat(internal): `gitignore`
  src/internal/__snapshots__/gitignore.snap
  src/internal/__tests__/gitignore.spec.ts
  src/internal/gitignore.ts
  src/internal/index.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

build(deps-peer): bump esbuild from >=0.17.14 to >=0.17.15
  package.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

build(deps-dev): bump typescript from 5.1.0-dev.20230301 to 5.0.3
  .github/infrastructure.yml
  package.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

feat(cli): [options] allow object and regex types
  .eslintrc.base.cjs
  package.json
  src/cli/commands/__tests__/mkbuild.command.functional.spec.ts
  src/cli/commands/mkbuild.command.ts
  src/cli/providers/__snapshots__/help.service.snap
  src/cli/providers/__tests__/utility.service.spec.ts
  src/cli/providers/help.service.ts
  src/cli/providers/utility.service.ts
  src/interfaces/__tests__/options.spec-d.ts
  src/interfaces/options.ts
  src/internal/__tests__/create-context.integration.spec.ts
  src/internal/create-context.ts
  src/types/__tests__/generated-file-type.spec-d.ts
  src/types/__tests__/options-esbuild.spec-d.ts
  src/types/generated-file-type.ts
  src/types/index.ts
  src/types/options-esbuild.ts
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

refactor(cli): `--help` + `--version` flag logic
  src/cli/commands/mkbuild.command.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

refactor(cli): combine short options as booleans
  src/cli/commands/__tests__/mkbuild.command.functional.spec.ts
  src/cli/commands/mkbuild.command.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

fix(tests): high cpu usage
  vitest.config.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

chore(tests): [plugins] format option suite names
  src/plugins/clean/__tests__/options.spec-d.ts
  src/plugins/write/__tests__/options.spec-d.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

refactor(utils)!: [`analyzeOutputs`] intake `esbuild.Metafile['outputs']`
  src/__tests__/make.functional.spec.ts
  src/make.ts
  src/utils/__snapshots__/analyze-outputs.snap
  src/utils/__tests__/analyze-outputs.spec.ts
  src/utils/analyze-outputs.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

refactor: cache cleaned output directories
  src/make.ts
  src/plugins/clean/__tests__/cache.spec-d.ts
  src/plugins/clean/cache.ts
  src/plugins/clean/plugin.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

perf(tests): [`make`] improve test speeds
  .eslintrc.base.cjs
  src/__tests__/make.e2e.spec.ts
  src/__tests__/make.functional.spec.ts
  src/__tests__/make.spec.ts
  src/make.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 1.0.0-alpha.17
  CHANGELOG.md
  config/changelog.config.ts
  package.json
  scripts/release.sh
  src/utils/__snapshots__/analyze-outputs.snap
  src/utils/analyze-outputs.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 1.0.0-alpha.17 (#193)
  CHANGELOG.md
  config/changelog.config.ts
  package.json
  scripts/release.sh
  src/utils/__snapshots__/analyze-outputs.snap
  src/utils/analyze-outputs.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

fix(cli): terminate `watch` mode via esbuild
  package.json
  src/cli/index.ts
  src/plugins/fully-specified/__snapshots__/plugin.integration.snap
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check
