Repository flex-development/mkbuild: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

chore(tests): remove `.env.test`
  .env.test
Due: yarn check:format, yarn check:spelling

docs: remove starter todo list
  TODO.md
Due: yarn check:format, yarn check:spelling, yarn check:lint

chore(github): update text file extensions in `.gitattributes`
  .gitattributes
Due: yarn check:format, yarn check:spelling

feat(plugins): `create-require`
  .github/dependabot.yml
  __fixtures__/volume.ts
  src/interfaces/config.ts
  src/interfaces/entry.ts
  src/make.ts
  src/plugins/create-require/__snapshots__/plugin.integration.snap
  src/plugins/create-require/__tests__/plugin.integration.spec.ts
  src/plugins/create-require/__tests__/plugin.spec.ts
  src/plugins/create-require/plugin.ts
  src/utils/__tests__/esbuilder.integration.spec.ts
  src/utils/esbuilder.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

feat: infer build entry from build config
  src/__tests__/make.functional.spec.ts
  src/__tests__/make.spec.ts
  src/interfaces/config.ts
  src/interfaces/entry.ts
  src/interfaces/index.ts
  src/interfaces/options.ts
  src/make.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

docs: remove "built with" section in `README`
  README.md
Due: yarn check:format, yarn check:spelling, yarn check:lint

docs: features
  .dictionary.txt
  .markdownlint.jsonc
  README.md
Due: yarn check:format, yarn check:spelling, yarn check:lint

chore(pkg): convert `bugs` and `repository` field to strings
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

chore(pkg): update `keywords`
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

refactor(options): `declaration?` -> `dts?`
  build.config.ts
  src/__tests__/make.functional.spec.ts
  src/interfaces/options.ts
  src/make.ts
  src/utils/__tests__/esbuilder.integration.spec.ts
  src/utils/__tests__/esbuilder.spec.ts
  src/utils/esbuilder.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

feat(options): default `dts` based on `typescript` install
  src/make.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

feat(plugins): [`create-require`] recalculate output file size
  src/plugins/create-require/__tests__/plugin.spec.ts
  src/plugins/create-require/plugin.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

docs: usage
  README.md
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 1.0.0-alpha.1
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 1.0.0-alpha.1 (#14)
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

refactor(options): merge esbuild options into common build options
  README.md
  __fixtures__/configs/cjs/build.config.cjs
  __fixtures__/configs/cts/build.config.cts
  __fixtures__/configs/js/build.config.js
  __fixtures__/configs/json/build.config.json
  __fixtures__/configs/mjs/build.config.mjs
  __fixtures__/configs/mts/build.config.mts
  __fixtures__/configs/ts/build.config.ts
  build.config.ts
  src/__tests__/make.spec.ts
  src/config/__snapshots__/load.integration.snap
  src/config/__snapshots__/loader-es.snap
  src/interfaces/config.ts
  src/interfaces/options.ts
  src/make.ts
  src/types/esbuild-options.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 1.0.0-alpha.2
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 1.0.0-alpha.2 (#15)
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

fix(plugins): [`create-require`] remove new line from end of snippet if output should be minified
  src/plugins/create-require/__snapshots__/plugin.integration.snap
  src/plugins/create-require/__tests__/plugin.integration.spec.ts
  src/plugins/create-require/plugin.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 1.0.0-alpha.3
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 1.0.0-alpha.3 (#16)
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

fix(plugins): [`fully-specified`] `Cannot read properties of undefined (reading 'length')`
  package.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

chore(deps-dev): cleanup + upgrade deps
  package.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

chore: `.graphqlrc.cts` -> `.graphqlrc.yml`
  .graphqlrc.cts
  .graphqlrc.yml
  .vscode/settings.json
  package.json
  patches/graphql-config+4.3.5.dev.patch
  tsconfig.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

release: 1.0.0-alpha.4
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 1.0.0-alpha.4 (#17)
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

build(deps-dev): bump pretty-format from 29.1.0 to 29.1.2
  package.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

build(deps): bump mlly from 0.5.14 to 0.5.16
  package.json
  patches/mlly+0.5.16.patch
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

release: 1.0.0-alpha.5
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 1.0.0-alpha.5 (#18)
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

build(deps-dev): bump @flex-development/tutils from 5.0.0 to 5.0.1
  package.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

build(deps): move @flex-development/tutils to `dependencies`
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

style(interfaces): use `OneOrMany` in `Options#pattern?`
  src/interfaces/options.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

fix(plugins): [`fully-specified`] dot case specifiers support
  __fixtures__/relative-specifiers.cts
  __fixtures__/relative-specifiers.mts
  src/plugins/fully-specified/__snapshots__/plugin.integration.snap
  src/plugins/fully-specified/plugin.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 1.0.0-alpha.6
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 1.0.0-alpha.6 (#19)
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

build(pkg): add `"sideEffects": false`
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

chore(vscode): configure debugging
  .vscode/launch.json
  .vscode/settings.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

build: replace `mlly` with `@flex-development/mlly`
  __fixtures__/relative-specifiers.cts
  __fixtures__/relative-specifiers.mts
  __fixtures__/tsconfig-paths.cts
  __fixtures__/tsconfig-paths.mts
  __mocks__/@flex-development/mlly.ts
  __mocks__/mlly.ts
  package.json
  patches/mlly+0.5.16.patch
  src/config/constants.ts
  src/config/loader-es.ts
  src/interfaces/compiler-options-json.ts
  src/interfaces/index.ts
  src/interfaces/statement.ts
  src/plugins/dts/plugin.ts
  src/plugins/fully-specified/__snapshots__/plugin.integration.snap
  src/plugins/fully-specified/plugin.ts
  src/plugins/tsconfig-paths/__snapshots__/plugin.integration.snap
  src/plugins/tsconfig-paths/options.ts
  src/plugins/tsconfig-paths/plugin.ts
  src/utils/__mocks__/extract-statements.ts
  src/utils/__snapshots__/extract-statements.snap
  src/utils/__tests__/extract-statements.spec.ts
  src/utils/__tests__/get-compiler-options.spec.ts
  src/utils/esbuilder.ts
  src/utils/extract-statements.ts
  src/utils/get-compiler-options.ts
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

chore(ts): enforce `import type` for type-only imports
  src/plugins/fully-specified/__tests__/plugin.spec.ts
  tsconfig.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

Path conditions:
  yarn check:format: any of: *
  yarn check:spelling: any of: *
  yarn check:lint: any of: **/*.{cjs,cts,gql,js,json,json5,jsonc,jsx,md,mjs,mts,ts,tsx,yml}
  yarn dedupe --check: any of: **/yarn.lock
