Repository flex-development/mkbuild: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

.lintstagedrc.json:

{
  "*": ["yarn check:format", "yarn check:spelling"],
  "**/*.{cjs,cts,gql,js,json,json5,jsonc,jsx,md,mjs,mts,ts,tsx,yml}": [
    "yarn check:lint"
  ],
  "**/yarn.lock": "yarn dedupe --check"
}

release: 1.0.0-alpha.18
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 1.0.0-alpha.18 (#194)
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

build: output `utf8`
  build.config.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

feat: serve mode + live reload
  .dictionary.txt
  .vscode/settings.json
  package.json
  patches/nest-commander+3.6.1.dev.patch
  patches/radash+10.8.1.dev.patch
  src/__tests__/make.functional.spec.ts
  src/cli/commands/__tests__/mkbuild.command.functional.spec.ts
  src/cli/commands/mkbuild.command.ts
  src/cli/index.ts
  src/cli/providers/help.service.ts
  src/interfaces/__tests__/config.spec-d.ts
  src/interfaces/config.ts
  src/make.ts
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

release: 1.0.0-alpha.19
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 1.0.0-alpha.19 (#195)
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

ci(workflows): [`ci`] check for test files
  .github/workflows/ci.yml
  vitest.config.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

ci(workflows): [`release`] checkout release commit from `main`
  .github/workflows/release.yml
Due: yarn check:format, yarn check:spelling, yarn check:lint

chore(github): delete branch on merge
  .github/infrastructure.yml
Due: yarn check:format, yarn check:spelling, yarn check:lint

ci(workflows): [`cache-cleanup`] fix branch checkout
  .github/workflows/cache-cleanup.yml
Due: yarn check:format, yarn check:spelling, yarn check:lint

fix(plugins): [`filter`] filter output file metadata
  src/plugins/filter/__tests__/plugin.integration.spec.ts
  src/plugins/filter/__tests__/plugin.spec.ts
  src/plugins/filter/plugin.ts
Due: yarn check:format, yarn check:spelling, yarn check:lint

chore: sync config files
  .dictionary.txt
  .eslintrc.base.cjs
  .vscode/settings.json
  README.md
  __tests__/setup/chai.ts
  __tests__/setup/index.ts
  __tests__/setup/matchers/index.ts
  __tests__/ts/v4/tsconfig.typecheck.json
  package.json
  tsconfig.typecheck.json
  vitest.config.ts
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

build(deps): bump consola from 2.15.3 to 3.0.0-3
  package.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

build(deps): bump @flex-development/toggle-pkg-type from 1.1.1 to 2.0.0
  package.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

build(deps-dev): bump esbuild from 0.17.15 to 0.17.16
  package.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

build(deps-peer): bump esbuild from >=0.17.15 to >=0.17.16
  package.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

release: 1.0.0-alpha.20
  .github/infrastructure.yml
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 1.0.0-alpha.20 (#196)
  .github/infrastructure.yml
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

chore: [eslint] fix `tsconfig.cjs.json` path
  .eslintrc.base.cjs
Due: yarn check:format, yarn check:spelling, yarn check:lint

chore: [editorconfig] add `xml` rules
  .editorconfig
Due: yarn check:format, yarn check:spelling

ci(workflows): [`cache-cleanup`] refactor branch filter
  .github/workflows/cache-cleanup.yml
Due: yarn check:format, yarn check:spelling, yarn check:lint

ci(workflows): [`approve-pr`] remove `dependabot-metadata` condition
  .github/workflows/approve-pr.yml
Due: yarn check:format, yarn check:spelling, yarn check:lint

ci: [@dependabot] configure grouped version updates
  .dictionary.txt
  .github/dependabot.yml
Due: yarn check:format, yarn check:spelling, yarn check:lint

chore: update test environments
  .codecov.yml
  .github/infrastructure.yml
  .github/workflows/ci.yml
  .github/workflows/typescript-canary.yml
  .nvmrc
  __tests__/serve.json
  __tests__/setup/chai.ts
  __tests__/ts/v4/tsconfig.build.json
  __tests__/ts/v4/tsconfig.json
  __tests__/ts/v4/tsconfig.typecheck.json
  package.json
  src/cli/__tests__/app.module.functional.spec.ts
  src/cli/app.module.ts
  src/cli/commands/__tests__/mkbuild.command.functional.spec.ts
  src/cli/providers/__tests__/utility.service.spec.ts
  src/config/__tests__/load.spec.ts
  src/internal/__tests__/gitignore.spec.ts
  src/plugins/clean/__tests__/cache.spec-d.ts
  src/plugins/create-require/__tests__/plugin.integration.spec.ts
  src/plugins/decorators/__tests__/plugin.integration.spec.ts
  src/plugins/dts/__tests__/plugin.integration.spec.ts
  src/plugins/fully-specified/__tests__/plugin.integration.spec.ts
  src/plugins/tsconfig-paths/__tests__/plugin.integration.spec.ts
  src/types/__tests__/output-metadata.spec-d.ts
  src/utils/__tests__/define-build-config.spec.ts
  tsconfig.build.json
  typings/@types/node/http2.d.ts
  vitest.config.ts
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

chore: update project architecture
  .eslintignore
  .eslintrc.base.cjs
  .github/dependabot.yml
  .prettierignore
  .prettierrc.json
  .vscode/settings.json
  __tests__/reporters/notifier.ts
  build.config.ts
  config/changelog.config.ts
  package.json
  src/plugins/decorators/__snapshots__/plugin.integration.snap
  src/plugins/write/plugin.ts
  src/types/adapter-file-system.ts
  tsconfig.cjs.json
  typings/@faker-js/faker/global.d.ts
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

ci(workflows): [`dependabot-auto`] remove `approve-pr` condition
  .github/workflows/dependabot-auto.yml
Due: yarn check:format, yarn check:spelling, yarn check:lint

chore: analyze types distribution
  .attw.json
  .dictionary.txt
  .github/workflows/ci.yml
  package.json
  scripts/release.sh
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

fix(deps): add @flex-development/errnode
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

ci: [@dependabot] merge nest-commander and nestjs groups
  .github/dependabot.yml
Due: yarn check:format, yarn check:spelling, yarn check:lint

build(deps-dev): bump nest-commander from 3.6.1 to 3.11.1
  package.json
  patches/nest-commander+3.11.1.dev.patch
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

build(deps): replace colorette with tinyrainbow
  .dictionary.txt
  package.json
  src/__tests__/make.functional.spec.ts
  src/cli/__tests__/app.module.functional.spec.ts
  src/cli/app.module.ts
  src/make.ts
  src/utils/analyze-outputs.ts
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

build(deps): replace colorette with tinyrainbow
  .dictionary.txt
  package.json
  src/__tests__/make.functional.spec.ts
  src/cli/__tests__/app.module.functional.spec.ts
  src/cli/app.module.ts
  src/make.ts
  src/utils/__snapshots__/analyze-outputs.snap
  src/utils/__tests__/analyze-outputs.spec.ts
  src/utils/analyze-outputs.ts
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

build(deps-peer)!: bump esbuild from >=0.17.16 to >=0.19.0
  .dictionary.txt
  package.json
  src/__tests__/make.functional.spec.ts
  src/make.ts
  src/plugins/create-require/__snapshots__/plugin.integration.snap
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

build(deps-peer)!: bump typescript from >=4.8 to >=5.0.4
  package.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

release: 1.0.0-alpha.21
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

release: 1.0.0-alpha.21 (#321)
  CHANGELOG.md
  package.json
Due: yarn check:format, yarn check:spelling, yarn check:lint

build(deps-dev): drop rxjs
  build.config.ts
  package.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

build(cli): reduce bundle size
  .dictionary.txt
  build.config.ts
  package.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check

build(deps): bump @flex-development/tutils from 6.0.0-alpha.18 to 6.0.0-alpha.19
  package.json
  yarn.lock
Due: yarn check:format, yarn check:spelling, yarn check:lint, yarn dedupe --check
